# Logs
# keep-sorted start
*.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
# keep-sorted end

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.local
target/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.claude
