@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-slate-50 dark:bg-slate-800;
}
